## Execute Data Queries Using HiveQL


---

### **1. Load Datasets into Hive**

**Step A: Create Local Data Files**
Create two text files on your local machine to act as our source data.

1. **`employees.txt`** (Schema: ID, Name, DeptID, Salary)
```text
1,Alice,10,50000
2,Bob,20,60000
3,Charlie,10,55000
4,David,30,45000
5,Eve,20,70000

```


2. **`departments.txt`** (Schema: DeptID, DeptName)
```text
10,IT
20,HR
30,Sales
40,Marketing

```



**Step B: Create Tables**
Open the Hive shell (`hive`) and define the table schemas.

```sql
-- Create Employees Table
CREATE TABLE employees (
    emp_id INT,
    name STRING,
    dept_id INT,
    salary INT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ',';

-- Create Departments Table
CREATE TABLE departments (
    dept_id INT,
    dept_name STRING
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ',';

```

**Step C: Load Data**
Load the local files into the Hive tables.
*(Note: Replace `/path/to/` with your actual file path, e.g., `C:/hive_data/`)*

```sql
LOAD DATA LOCAL INPATH '/path/to/employees.txt' INTO TABLE employees;
LOAD DATA LOCAL INPATH '/path/to/departments.txt' INTO TABLE departments;

```

---

### **2. Aggregate Queries (GROUP BY)**

Aggregation functions are used to summarize data (e.g., Sum, Count, Average).

**Query 1: Calculate Average Salary per Department**
This groups employees by their department ID and calculates the average salary for each group.

```sql
SELECT dept_id, AVG(salary) as avg_sal
FROM employees
GROUP BY dept_id;

```

*Expected Output:*

```text
10  52500.0
20  65000.0
30  45000.0

```

**Query 2: Count Employees in Each Department**

```sql
SELECT dept_id, COUNT(*) as emp_count
FROM employees
GROUP BY dept_id;

```

---

### **3. JOIN Queries**

Joins combine rows from two or more tables based on a related column (in this case, `dept_id`).

**Query 3: Inner Join (Fetch Employee Name and Department Name)**
Retrieves records that have matching values in *both* tables. This replaces the numeric `dept_id` with the readable `dept_name`.

```sql
SELECT e.name, d.dept_name, e.salary
FROM employees e
JOIN departments d ON e.dept_id = d.dept_id;

```

*Expected Output:*

```text
Alice    IT     50000
Charlie  IT     55000
Bob      HR     60000
Eve      HR     70000
David    Sales  45000

```

**Query 4: Left Join (Show All Employees)**
Returns all employees, and the department name if available. If an employee has a `dept_id` that doesn't exist in the departments table, the name will show as NULL.

```sql
SELECT e.name, d.dept_name
FROM employees e
LEFT OUTER JOIN departments d ON e.dept_id = d.dept_id;

```

**Query 5: Complex Query (Filter + Join)**
Find employees specifically in the "IT" department earning more than 52,000.

```sql
SELECT e.name, e.salary
FROM employees e
JOIN departments d ON e.dept_id = d.dept_id
WHERE d.dept_name = 'IT' AND e.salary > 52000;

```