# âš¡ ETL Process on Big Data Using Apache Spark

ETL (**Extract, Transform, Load**) in Spark enables efficient processing of large datasets from various sources.

---

## ðŸ“‚ Dataset (`sales.txt`)

```text
101,TV,Electronics,30000
102,Mobile,Electronics,20000
103,Chair,Furniture,5000
104,Laptop,Electronics,50000
105,Table,Furniture,8000
````

---

## ðŸ”¹ Step 1: Extract (Load Data from Local/HDFS)

Start **Spark Shell** and load the dataset:

```scala
val data = sc.textFile("sales.txt")
```

Parse the data:

```scala
val salesRDD = data.map(line => {
  val x = line.split(",")
  (x(2), x(3).toInt)
})
```

---

## ðŸ”¹ Step 2: Transform (Filter & Aggregate)

### Filter Electronics Products

```scala
val electronics = salesRDD.filter(_._1 == "Electronics")
```

### Calculate Total Sales per Category

```scala
val totalSales = electronics.reduceByKey(_ + _)
```

---

## ðŸ”¹ Step 3: Load (Store Transformed Data)

### Save Output to Local/HDFS

```scala
totalSales.saveAsTextFile("output_sales")
```

---

## âœ… Output (`output_sales`)

```text
(Electronics,100000)
```

## **In PySpark**

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

# -----------------------------
# 1ï¸âƒ£ Create Spark Session
# -----------------------------
spark = SparkSession.builder \
    .appName("ETL with Variable Data") \
    .master("local[*]") \
    .getOrCreate()

# -----------------------------
# 2ï¸âƒ£ Extract: Create dataset as variable
# -----------------------------
data = [
    ("Alice", 34, "HR", 50000),
    ("Bob", 25, "IT", 40000),
    ("Charlie", 30, "Finance", 60000),
    ("David", 22, "IT", 35000),
    ("Eva", 28, "HR", 45000),
    ("Frank", 40, "Finance", 70000)
]

columns = ["Name", "Age", "Department", "Salary"]

# Create DataFrame from variable
df = spark.createDataFrame(data, columns)

print("âœ… Original Data:")
df.show()

# -----------------------------
# Transform: Filtering and Aggregation
# -----------------------------
# Filter employees with salary > 45000
high_salary_df = df.filter(col("Salary") > 45000)

# Aggregate: Average salary per Department
avg_salary_df = df.groupBy("Department").agg(avg("Salary").alias("Average_Salary"))

print("âœ… Employees with Salary > 45000:")
high_salary_df.show()

print("âœ… Average Salary per Department:")
avg_salary_df.show()

# Stop SparkSession
spark.stop()

âœ… Original Data:
+-------+---+----------+------+
|   Name|Age|Department|Salary|
+-------+---+----------+------+
|  Alice| 34|        HR| 50000|
|    Bob| 25|        IT| 40000|
|Charlie| 30|   Finance| 60000|
|  David| 22|        IT| 35000|
|    Eva| 28|        HR| 45000|
|  Frank| 40|   Finance| 70000|
+-------+---+----------+------+

âœ… Employees with Salary > 45000:
+-------+---+----------+------+
|   Name|Age|Department|Salary|
+-------+---+----------+------+
|  Alice| 34|        HR| 50000|
|Charlie| 30|   Finance| 60000|
|  Frank| 40|   Finance| 70000|
+-------+---+----------+------+

âœ… Average Salary per Department:
+----------+--------------+
|Department|Average_Salary|
+----------+--------------+
|        HR|       47500.0|
|   Finance|       65000.0|
|        IT|       37500.0|
+----------+--------------+